# Compiled class file
*.class

# Intellij
*.ipr
*.iml
*.iws
.idea/

# Maven
target/

# Log file
*.log
log/

# out
**/out/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
